.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: $primary-font;
}

// Chat /app
#chat-box {
  width: 100%;
  height: 100vh;
}

#chat {
  width: 100%;
  height: 100vh;
  background-color: $chat-bg; // Messages bubbles bg (?img/color)
  .row {
    height: 100%;
    #rooms-box {
      height: 100%;
      overflow-y: scroll;
      background-color: $rooms;
      .room {
        padding: 0.5rem;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        .name {
          color: $primary-font;
        }
        .users {
          color: $secondary-font;
        }
        .last-msg {
          color: $secondary-font;
        }
      }
    }
    #messages-box {
      height: 100%;
      padding: 1rem;
      .header {
        background-color: $messages-header;
        padding: 1rem;
        .name {
          color: $primary-font;
        }
        .users {
          color: $secondary-font;
        }
      }
      .messages {
        height: calc(100% - 91px - 70px);
        padding: .5rem;
        overflow-y: scroll;
        .message{
          height: unset;
          padding-bottom: 1rem;
          &.my{
            .bubble{
              margin-left: auto;
            }
          }
          .bubble{
            padding: .5rem;
            background-color: $messages-bubble;
            color: $messages-bubble-font;
            border-radius: 8px;
            .user{

            }
            .body{

            }
          }
        }
      }
      .input-box {
        padding: 1rem;
        width: 100%;
        background-color: $messages-input;
        display: flex;
      }
    }
  }
}