
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Rubik", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


// Chat app
$chat-bg: #fff;

$primary: #45C8DC; //Send button ex
$secondary: #CFD8DC;

$primary-font: #263238;
$secondary-font: #37474F;

$rooms: #F6F7F9;

$messages-header: #F6F7F9;
$messages-bubble: #45C8DC;
$messages-bubble-font: #fff;
$messages-input: #F6F7F9;

$accent: #D81B60;