a{
  transition: 0.3s color;
}

#room-list-box{
  height: 22rem;
  overflow-y: scroll;
  margin-bottom: 1rem;
}

#active-room{
  #room-messages{
    height: 40%;
    overflow-y: scroll;
  }
  .new-message{
    display: none;
    .form-group{
      width: 100%;
      #new-message-input{
      }
    }
  }
}